# OS
.DS_Store
.DS_Store?
._*
.Sportlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# Contao
.tx/
assets/
contao/
composer/
files/tinymce.css
files/tiny_templates
share/
system/
templates/.htaccess
templates/index.html
vendor/
.htaccess
.htaccess.default
build.xml
composer.json
composer.lock
index.php
README.md
robots.txt

#Packge Manager
bower_components/
node_modules/
